

body {
    font-size: 16px;
    line-height: 24px;
    font-family: "Work Sans", sans-serif;
    color: #808996;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*:focus {
    outline: none;
}
a {
    text-decoration: none !important;
}
h1, h2, h3, h4, h5, h6, p,
dl, ol, ul {
    margin: 0;
}

/* Container */
.container {
    max-width: 1200px;
}

@media (min-width:576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width:768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width:992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width:1200px) {
    .container {
        max-width: 1200px;
    }
}

/* Video Modal */
.modal-video {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
}
.modal-video:before {
    content: '';
    background: #0b0b0b;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}
.modal-video  .modal-video-body {
    height: 100%;
}
.modal-video  .modal-video-inner {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}
.modal-video  .modal-video-inner .modal-video-movie-wrap {
    padding: 0 !important;
    position: relative;
}
.modal-video  .modal-video-inner .modal-video-movie-wrap iframe {
    width: 1100px;
    height: 600px;
}
.modal-video-close-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    border: none;
    background: #fff;
    transition: background-color .3s;
}
.modal-video-close-btn:hover {
    background: #ff6b6b;
}
.modal-video-close-btn:before {
    content: 'x';
    font-size: 24px;
    font-weight: 600;
    transition: .3s;
}
.modal-video-close-btn:hover:before {
    color: white;
}

.icon-element-2 svg {
    width: 25px;
}


/* Write your own CSS Code Below */
.cluster-marker {
    text-align: center;
    font-size: 15px;
    background: #4a6f69;
    color: #fff;
    font-weight: 600;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    line-height: 38px;
    -webkit-box-shadow: 0 0 0 4px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 0 4px rgba(0,0,0,0.5);
    box-shadow: 0 0 0 4px rgba(0,0,0,0.5);
    border: 2px solid #4a6f69;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    animation: cluster-animation 1.5s infinite;
}
.cluster-marker:hover {
    background: #73938d;
}

.restaurant-marker {
    position: relative;
}
.restaurant-marker svg {
    width: 40px;
    height: 65px;
    position: absolute;
    top: -65px;
    left: -20px;

    fill: #ff929d;
    stroke:  #ff929d;
    stroke-width: 2px;
    transition: fill 0.5s;
}
.restaurant-marker:hover svg,
.restaurant-marker__hover svg{
    cursor: pointer;
    fill: #d45d69;
}

/* .List-map-view2 .card-item:hover .card-title, */
.List-map-view2 .card-item__hover .card-title {
    text-decoration: underline;
    text-decoration-color: #d45d69;
    text-decoration-thickness: 2px;
}

/* .List-map-view2 .card-item:hover .card-image:after, */
.List-map-view2 .card-item__hover .card-image:after {
    background-color: transparent;
}


.card-image img {
    display: block;
    width: 100%;
    height: 270px;
    object-fit: cover;
}

.react-datepicker__day--disabled {
    cursor: default;
    background-color: transparent;
}

.react-datepicker-wrapper,
.react-datepicker-wrapper input {
    width: 100%;
    height: 50px;
}

.react-datepicker-wrapper input {
    padding-left: 20px;
}

.select-wrapper > div:first-of-type {
    height: 50px;
    padding-left: 18px;
}

.menus .card-item {
    margin-bottom: 10px;
}